:root { 
--deep_orange_A100:#f4ad7d; 
--green_100:#cbeabc; 
--light_green_300:#a9d992; 
--green_800:#1a8917; 
--black_900_3f:#0000003f; 
--black_900:#000000; 
--blue_gray_900_02:#2f2f2f; 
--blue_gray_900_01:#2d2d2d; 
--blue_gray_900:#28353d; 
--gray_900_02:#282828; 
--gray_700:#606161; 
--blue_gray_200:#b0b8bc; 
--blue_gray_100:#cdd1d4; 
--blue_gray_400:#898989; 
--blue_gray_300:#939ea4; 
--gray_800:#3f3f3f; 
--blue_gray_600:#5d6970; 
--gray_900:#091133; 
--gray_900_01:#292929; 
--blue_gray_900_03:#111b47; 
--orange_200:#ffcd9c; 
--blue_50:#e7ecff; 
--indigo_300:#6f7cb2; 
--indigo_200:#929ecc; 
--white_A700:#ffffff; 
--indigo_800:#37447e; 
--gray_700_01:#5c5c5c; 
}